* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "poppins";
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Torus Notched";
}

body {
    overflow-x: hidden;
    max-width: 1920px;
}

/*--HEADER--*/

header  {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header .container ul {
    display: flex;
}

header .container ul a {
    font-size: 1.2e;
    font-weight: 500;
    margin: 0 30px;
    color: beige;
}

@media (max-width :1500px) {
    header {
        background-color: #9C4613;
        position: relative;
    }

    header .container {
        width: 100%;
    }

    header .container ul a {
        color: white;
    }
}

@media (max-width: 750px) {
    header .logo {
        display: none;
    }

    header .container {
        justify-content: center;
    }

    header .container ul a {
        margin: 0 10px;
    }
}

/*--SECTION1--*/

@media (min-width: 1500px) {
    
    .sec1{
        height: 100vh;
        width: 100%;
        background-image: url(img/room-g6d8d003be_1920.jpg); /*https://pixabay.com/photos/room-space-parquet-salon-4779953/*/
        background-repeat: no-repeat;
        background-position: top right;
    }

    .sec1 .bg-responsive {
        display: none;
    }

    .sec1 h1 {
        color: beige;
    }

    .sec1 button {
        background-color: beige;
    }

    .sec1 button:hover {
        color: beige;
    }
}

.sec1 .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1 h1 {
    font-size: 8em;
    margin-bottom: 70px;
}

.sec1 button {
    position: relative;
    height: 70px;
    width: 250px;
    border-radius: 50px;
    border: 3px solid #9C4613;
    font-size: 1.2em;
    color: #9C4613;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
}

.sec1 button:hover {
    width: 280px;
}

.sec1 button::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 280px;
    border-radius: 50px;
    background-color: #9C4613;
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
}

.sec1 button:hover::before {
    transform: translate(0%);
}

.sec1 button i {
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
}

.sec1 button:hover i {
    transform: scale(1);
    margin-left: 10px;
}


.sec1 .bg-responsive {
    margin-top: 50px;
}

.sec1 .bg-responsive img {
    width: 50%;
}

@media (max-width :1500px) {
    .sec1 .container {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .sec1 {
        height: 100%;
        margin-top: 100px;
        color: #9C4613;
    }
    .sec1 button {
        background-color:white;
    }

    .sec1 button:hover {
        color:white;
    }

}

@media (max-width :950px) {
    .sec1 h1 {
        font-size: 6em;
        margin-bottom: 60px;
    }
}

@media (max-width :500px) {
    .sec1 h1 {
        font-size: 3em;
    }
    
    .sec1 button {
        width: 200px;
    }

    .sec1 button:hover {
        width: 200px;
    }
}


/*--SECTION2--*/

/*.sec2 {
    background-color: black;
}
*/


.sec2 .container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 .title {
    position: relative;
    width: 100%;
    text-align: center;
    color:#9C4613;
    font-size: 3em;
    margin-bottom: 100px;
}

.sec2 .title::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: #9C4613;
    clip-path: polygon(
         0 0,
         100% 0,
         100% 80%,
         80% 35%,
         64% 100%,
         48% 35%,
         31% 100%,
         16% 35%,
         0 80%
    );
    top: 100%;
    left: 50%;
    transform: translate(-50%);

}

.sec2 .content {
    color:#9C4613;
}

.sec2 h2 {
    font-size: 2.5em;
}

.sec2 .titre_section {
    display: flex;
    align-items: center;
}

.sec2 .point {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-color: #9C4613;
    border-radius: 55px;
    border: 3px solid beige;
}

.sec2 .seprateur {
    width: 75px;
    height: 7px;
    background-color:#9C4613;
    border-radius: 0 50px 50px 0;
    margin: 25px 0;
}

.sec2 p {
    max-width: 600px;
    line-break: anywhere;
    font-size: 1.2em;
    margin-bottom: 5%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (min-width:1500px) {
    .content-top .left {
        max-width: 700px;
    }

    .content-bottom .right {
        max-width: 700px;
    }

    .sec2{
        /*height: 100vh;*/
        width: 100%;
        background-color: beige;
    }
}


@media (max-width: 1500px) {

    .sec2 .content {
        margin: 50px 0;
    }

    .sec2 .content img {
        width: 90%;
    }

    .content-top {
        flex-direction: column;
    }

    .content-bottom {
        flex-direction: column-reverse;
    }

    .sec2 .container {
        width: 100%;
        text-align: center;
    }

    .sec2 p {
        max-width: 900px;
        margin: 0 50px;
    }

    .sec2 .content-top .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .sec2 .content-bottom .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }


    .sec2 .seprateur {
        border-radius: 50px;
    }

    .sec2 .titre_section {
        justify-content: center;
        flex-direction: column;
    }

    .sec2 .point {
        margin-right: 0px;
    }
}